#canvas{
    background: linear-gradient(to bottom, rgb(140, 215, 250), rgb(255, 255, 255));
    border: 1px solid brown;
    margin-left: 200;
}

#myModal{
    display:none;
    position:fixed;
    z-index:1;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow: auto;
    background-color: #00000086;
}

.modal-content{
    background-color: white;
    border: 1px solid;
    margin: 15% auto;
    padding: 20px;
    width: 60%;
    text-align: center;
    font-size: 30px;
}